<!DOCTYPE html>
<html>
<head>
  <title>Pollable</title>
  <%= stylesheet_link_tag    "pollable/application" %>
  <%= javascript_include_tag "pollable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
